/*font-family: 'Lato', sans-serif;*/
html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

ul[class],
ol[class]{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd{
    margin: 0;
}

ul[class]{
    list-style: none;
}

img{
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select{
    font: inherit;
}

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 31,4px;
    color: #484848;
}

.container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top{
    display: flex;
    justify-content: space-between;
    margin-top: 30.32px;
    margin-bottom: 31.64px;
}


.header__menu{
    display: flex;
}

.header__item + .header__item{
    margin-left: 72px;
}

.header__link{
    font-weight: 500;
    line-height: 24px;
    color: #292929;
}

.header__link:hover{
    background-color: #01996D;
    padding: 13px 50px;
    border-radius: 5px;
    color: #FFFFFF;
    transition: all ease .3s;
}

.autorizacei__menu{
    display: flex;
}

.autorizacei__item{
    margin-left: 35px;
}

.autorizacei__link{
    line-height: 24px;
    color: #000000;
}

.autorizacei__link:hover{
   background-color: #01996D;
   padding: 13px 50px;
   color: #fff;
   border-radius: 5px;
   transition: all ease .3s;
}

.header__content{
    background-image: url('../img/BG.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

.content__title{
    max-width: 440px;
    color: #01996D;
    font-weight: 700;
    font-size: 65px;
    line-height: 73,85px;
    padding-top: 175px;
}

.contant__text{
    max-width: 420px;
    padding: 30px 0 70px;
}

.contant__btn{
    background-color: #01996D;
    padding: 20px 50px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 5px;
}

.contant__btn:hover{
    box-shadow: #037957 -3px 3px 3px;
    transition: all ease .3s;
}